{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- Home -->
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">HOME</a>
                    </li>
                    <!-- About Us -->
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">ABOUT US</a>
                    </li>
                    <!-- Blog Entries -->
                    <li class="nav-item {% if request.resolver_match.url_name == 'list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'blog:list' %}">All ARTICLES</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == "article_detail" %}active{% endif %}">
                        <a class="nav-link" href="post-details.html">POST DETAILS</a>
                    </li>
                    <!-- Contact Us -->
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">CONTACT US</a>
                    </li>
                    <!-- User Section -->
                    <li class="nav-item dropdown">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if request.user.profile.image %}
                                    <img src="{{ user.profile.image.url }}" width="40" height="40"
                                         class="rounded-circle" alt="User Image">
                                {% else %}
                                    <img src="{% static 'images/profile.png' %}" width="40" height="40"
                                         class="rounded-circle" alt="Default Profile">
                                {% endif %}
                                {{ request.user.first_name|default:request.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item text-danger" href="{% url 'account:logout' %}">Logout</a>
                            </div>
                        {% else %}
                            <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
